.vscode
procedural/bin
oop/Movie/bin
oop/Mystring/bin
oop/Account/bin
oop/SmartPointers/bin
oop/TourInfo/bin
oop/AutomatedGrader/bin
oop/RomeoAndJuliet/bin
oop/LineNumberTool/bin
oop/LineNumberTool/romeoandjulietwithlinenumbers.txt
oop/Palindromes/bin